.Header{
    height: 17vh;
    display: flex;
    background-color: #0f1c26;
}
.Header img{
    margin-left: 28px;
    margin-right: 40px;
}
.Header a{
    text-decoration: none;
    color: #a70024;
    font-size: 30px;
}
.toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.switcher{

}